@model IEnumerable<MasterDetail.Models.Henkilot>
    ViewBag.Title = "List Henkilot";
}

<h2>List Henkilot</h2>

<table>
    <thead>
        <tr>
            <th>HenkiloID</th>
            <th>Etunimi</th>
            <th>Sukunimi</th>
            <th>Osoite</th>
            <th>Esimies</th>
        </tr>
    </thead>
    <tbody>
        @foreach (MasterDetail.Models.Henkilot henk in model);
        <tr>
            <td>@henk.HenkiloID</td>
            <td>@henk.Etunimi</td>
            <td>@henk.Sukunimi</td>
            <td>@henk.Osoite</td>
            <td>@henk.Esimies</td>
        </tr>
    </tbody>
</table>

